#movies img, #movie img{
    width: 100%;
  }
  .center{
    background-color: #1a1a1a;
    margin-top: 20px;
  }
  .truncateLongTexts {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.2em;
  }
  #loader{
    width: 130px;
    text-align: center;
    position: fixed;
    top: 50%;
    right: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  } 